<h1>Walk of peace påmeldinger</h1>
<table cellspacing="0" cellpadding="4" style="border: 1px solid #ccc">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th></th>
  </tr>
<%row = 1%>
<% for wop_proposition in @wop_propositions %>
  <tr class="article_tr<%= row % 2 == 1 ? ' alternate' : '' %>">
    <td><%= wop_proposition.firstname%></td>
    <td><%= wop_proposition.lastname%></td>
    <td><%= link_to ('Show', wop_proposition_url(params[:tab],wop_proposition)) %></td>
  </tr>
  <%row +=1%>
<% end %>
</table>

<br />


