<div class="well">
	<%= form_tag "forgotten_password", :method => "post" do %>
	  <h2>Nytt passord</h2>
	  <p>
	  	Skriv inn epost for å få tilsendt nytt passord.
	  </p>
	  <%= text_field_tag :mail, nil, placeholder:"Epost" %>
	  <p>
	  	<%= submit_tag "Få nytt passord", class: "btn btn-primary" %>
		</p>
	<% end %>
</div>
