
	<%if logged_in? and params[:tab] == "organization"%>
		<div id="custom_calendar">
			<%= calendar({  :year => session[:calendar_year], 
							:month => session[:calendar_month], 
							:first_day_of_week => 1,
							:abbrev            => (0..0),
							:previous_month_text   => '<<',
							:next_month_text   => '>>',
							:accessible        => true }) do |d|

				if @days.include?(d.mday)
					cell_attrs = {:class => 'specialDay'}
				else
					cell_attrs = {:class => 'day'}
				end
				cell_text = "#{d.mday}"
				[cell_text, cell_attrs]
			end %>
		</div>
		<%if @upcoming_events.size > 0 %>
			<br>
			<table border="0" cellspacing="0" cellpadding="0" style="margin-top:0px">
				<tr>
					<td colspan="2" valign="top">
						<%= image_tag("cal.png", :border => 0)%>
						<span style="font-weight:bold;padding-top:-3px;">Upcoming events</span>
					<td>
			<%for event in @upcoming_events %>
				<tr>
					
					<td width = "100">
						<%= link_to truncate(event.title, 16, "..."), :controller => "calendar_event", :action => "show_event",:id => event.id%></td>
					<td><%=event.start.strftime("%d %b")%></td>
				</tr>
			<%end%>
			</table>
		<%end%>
		<%end%>
	<br />
	<br />
