<h1>New picture</h1>

<% form_tag( {:action =>'create', :tab=> params[:tab]},{ :multipart => true}) do %>

  <%= file_field_tag "image" %>

  <%= hidden_field_tag :article_id,  params[:article_id] %>
  <p>
  <%= submit_tag 'Create' %>
  </p>
<% end %>
