<h1>Participant workshop forum</h1>
<p>Click the below link to enter the participant workshop forum.</p>
<p><%= link_to('Participant forum', 
	"https://www.isfit.org/participant/forum/index.php?username=#{@username
	}&token=#{@token}&type=functionary") %></p>
