<h1><% if Language.to_s == "en" %>Press releases<%else%>Pressemeldinger<%end%></h1>
<p>
<ul>
<% @press_releases.each do |pr|%>
  <li><%=link_to pr.title, '/'+pr.attachment.url %></li>
<%end%>
<ul>
</p>
