<% if @positions.length < 1 %>
  <%if Language.to_s == "no"%>
    ISFiT har snart nytt opptakmed søknadsfrist 1. november. <br /> <br />
    Stillingene vil bli utlyst snart.
  <%else%>
    ISFiT will soon be having new admissions. Application deadline is 1th of November.<br /> <br />
    Positions will be announced soon.
  <%end%>
<% else %>
  <h1><%= t("position.new_positions") %></h1>
  <% active_group = nil %>
  <% active_section = nil %>
  <% for position in @positions %>
    <% if not position.group == active_group %>
      </ul>
    <% if position.group.section and not position.group.section == active_section %>
      </ul>
      <br>
      <h3><%=h position.group.section.name %></h3>
      <ul>
    <% end %>
    <h4><%=h position.group.name %></h4>
    <ul>
    <% end %>
    
    <li><%= link_to "#{position.title}", position_url(params[:tab], position) %></li>
    <% active_group = position.group %> 
    <% active_section = position.group.section %>
  <%end%>
<% end %>

