<div class="well">
  <h2><%= @position.title %></h2>
  <p><%=raw format(@position.description_no) %></p>
  <p>
  <h3><%#= link_to t("position.apply"), apply_positions_path, class: "btn btn-primary btn-large" %></h3>
  </p>
</div>
