<br/>
<%= link_to "Create new sublink", :controller => "sublink",:action => "create" %>
<br/><br/>


<% for tab in @tabs%>
	<h2><%=tab.name_en.capitalize%></h2>
	
	<% for sublink in Sublink.find(:all, :conditions => {:tab_id => tab.id, :deleted =>0 }, :order => "`order`")%>
		<%= link_to sublink.title_en, :controller => "sublink", :action => "create",:id => sublink.id%> 
		<%= link_to(image_tag("icon/trash.png",
			:alt => "X", :title => "Delete",:border => 0), 
			{:controller => "sublink", :action => "delete", :id => sublink.id},
			:confirm => 'Are you sure you want to delete this link') %>
		<br/>
	<% end %>
	<br/><br/>
<% end %>

<!-- <%# for cat in $categories%>
	<%#unless cat[0]==nil%>
		<h2><%#=cat[0]%></h2>
		<%# for sublink in SublinkController.get_sublinks(cat[1])%>
			<%#= link_to sublink.title_en, :controller => "sublink", :action => "create",:id => sublink.id%> 
			<%#= link_to(image_tag("icon/trash.png",
				:alt => "X", :title => "Delete",:border => 0), 
				{:controller => "sublink", :action => "delete", :id => sublink.id},
				:confirm => 'Are you sure you want to delete this link') %>
			<br/>
		<%# end %>
	<%# end %>
	<br/><br/>

<%# end %> -->