<% if Language.to_s == "no"%>

<h2>Temablogg</h2>
<ul>
	<li><a href="http://isfit.github.com/blog/2012/norge-fredsnasjon-og-vaapeneksportoer/">Norge – Fredsnasjon og våpeneksportør</a></li>
	<li><a href="http://isfit.github.com/blog/2012/hva-er-global-handel/">Hva er global handel?</a></li>
</ul>

<h2>Festivalblogg</h2>
<ul>
	<li>Kommer snart...</li>
</ul>
<% else %>
<h2>Theme blog</h2>
<ul>
	<li><a href="http://isfit.github.com/blog/2012/norway-a-nation-of-peace-and-of-weapons-export/">Norway – A nation of peace and of weapons export</a></li>
	<li><a href="http://isfit.github.com/blog/2012/what-is-global-trade/">What is global trade?</a></li>
</ul>

<h2>Festival blog</h2>
<ul>
	<li>Coming soon...</li>
</ul>


<% end %>