<div id="festival-blog">	
	<h2><%= t('tabs.blogs.festival') %></h2>
  <img class="loading-gif" src="/loading_white.gif">
	<ul></ul>
</div>

<div id="theme-blog">  
  <h2><%= t('tabs.blogs.theme') %></h2>
  <img class="loading-gif" src="/loading_white.gif">
  <ul></ul>
</div>


<% content_for :script do%>


	<script>
    $(function(){
      _.templateSettings = {
        interpolate : /\{\{(.+?)\}\}/g
      };

      var Post = Backbone.Model.extend({
      });

      var Blog = Backbone.Collection.extend({
        model: Post,

      });

      var Posts = new Blog;

      var PostView = Backbone.View.extend({
        tagName:  'li',
        template: _.template($('#blogpost-template').html()),
        render: function() {
          this.$el.html(this.template(this.model));
          return this;
        },
      })

      var ThemeBlogView = Backbone.View.extend({
        $el: $('#theme-blog ul'),

        render: function(posts){
          _.each(posts, function(post){
            var view = new PostView({model: post});
            this.$('#theme-blog ul').append(view.render().el);
          });
          $('#theme-blog .loading-gif').remove();



          // Corny animation

          // element = $('#theme-blog');
          // var h = element.height();
          // element.css('height', 0).css('opacity', 1);

          // window.setTimeout(function(){
          //   element.css('height', h);
          // }, 300);
        },

        initialize: function() {
        },
      });
      var FestivalBlogView = Backbone.View.extend({
        $el: $('#festival-blog ul'),

        render: function(posts){
          _.each(posts, function(post){
            var view = new PostView({model: post});
            this.$('#festival-blog ul').append(view.render().el);

          });

          $('#festival-blog .loading-gif').remove();

          // Corny animation
          // element = $('#festival-blog');
          // var h = element.height();
          // element.css('height', 0).css('opacity', 1);

          // window.setTimeout(function(){
          //   element.css('height', h);
          // }, 300);
        },

        initialize: function() {
        },
      });

      var FestivalBlog;
      var ThemeBlog;

      // Fetches the blog feeds

      // FESTIVAL BLOG
      $.ajax({
        url: 'http://www.isfit.org/blogs/festival/',
        success: function(data) {
          FestivalBlog = new FestivalBlogView;
          FestivalBlog.render(data);
        },
        dataType: 'json',
        error: function(jqXHR, textStatus, errorThrown) {
          console.log(errorThrown.toString());
          console.log(jqXHR);
        }
      });


      // THEME BLOG
      $.ajax({
        url: 'http://www.isfit.org/blogs/theme/',
        success: function(data) {
          ThemeBlog = new ThemeBlogView;
          ThemeBlog.render(data);
        },
        dataType: 'json',
        error: function(jqXHR, textStatus, errorThrown) {
          console.log(errorThrown.toString());
          console.log(jqXHR);
        }
      });
    });
  </script>

  <script type="text/template" id="blogpost-template">
      <p><a href="{{ link }}">{{ title }}</a></p>
  </script>

<%end%>