<div id="theme-blog">  
  <h2><%= t('tabs.blogs.theme') %></h2>
  <ul></ul>
</div>

<div id="festival-blog">	
	<h2><%= t('tabs.blogs.festival') %></h2>
	<ul></ul>
</div>

<% content_for :script do%>
  <script type="text/javascript" src="/assets/underscore.js"></script>
  <script type="text/javascript" src="/assets/backbone.js"></script>


	<script>
    $(function(){
      _.templateSettings = {
        interpolate : /\{\{(.+?)\}\}/g
      };

      var Post = Backbone.Model.extend({
      });

      var Blog = Backbone.Collection.extend({
        model: Post,

      });

      var Posts = new Blog;

      var PostView = Backbone.View.extend({
        tagName:  'li',
        template: _.template($('#blogpost-template').html()),
        render: function() {
          this.$el.html(this.template(this.model));
          return this;
        },
      })

      var ThemeBlogView = Backbone.View.extend({
        $el: $('#theme-blog ul'),

        render: function(posts){
          _.each(posts, function(post){
            var view = new PostView({model: post});
            this.$('#theme-blog ul').append(view.render().el);
          });
        },

        initialize: function() {
        },
      });
      var FestivalBlogView = Backbone.View.extend({
        $el: $('#festival-blog ul'),

        render: function(posts){
          _.each(posts, function(post){
            var view = new PostView({model: post});
            this.$('#festival-blog ul').append(view.render().el);
          });
        },

        initialize: function() {
        },
      });

      var FestivalBlog;
      var ThemeBlog;

      // Fetches the blog feeds

      // FESTIVAL BLOG
      $.ajax({
        url: window.location.origin + '/blogs/festival/',
        success: function(data) {
          FestivalBlog = new FestivalBlogView;
          FestivalBlog.render(data);
        },
        dataType: 'json',
        error: function(jqXHR, textStatus, errorThrown) {
          console.log(errorThrown.toString());
          console.log(jqXHR);
        }
      });


      // THEME BLOG
      $.ajax({
        url: window.location.origin + '/blogs/theme/',
        success: function(data) {
          ThemeBlog = new ThemeBlogView;
          ThemeBlog.render(data);
        },
        dataType: 'json',
        error: function(jqXHR, textStatus, errorThrown) {
          console.log(errorThrown.toString());
          console.log(jqXHR);
        }
      });
    });
  </script>

  <script type="text/template" id="blogpost-template">
      <a href="{{ link }}">{{ title }}</a>
  </script>

<%end%>