<% if Language.to_s == "no"%>

<h2>Temablogg</h2>
<ul>
	<li><a href="http://isfit.github.com/blog/2012/den-europeiske-drommen/">Den europeiske drømmen</a></li>
	<li><a href="http://isfit.github.com/blog/2012/norge-fredsnasjon-og-vaapeneksportoer/">Norge – Fredsnasjon og våpeneksportør</a></li>
	<li><a href="http://isfit.github.com/blog/2012/hva-er-global-handel/">Hva er global handel?</a></li>
</ul>

<h2>Festivalblogg</h2>
<ul>
	<li><a href="http://isfit2013.blogspot.no/2012/10/les-til-krampa-tar-deg.html">Les til krampa tar deg</a></li>
</ul>
<% else %>
<h2>Theme blog</h2>
<ul>
	<li><a href="http://isfit.github.com/blog/2012/the-european-dream/">The European dream</a></li>
	<li><a href="http://isfit.github.com/blog/2012/norway-a-nation-of-peace-and-of-weapons-export/">Norway – A nation of peace and of weapons export</a></li>
	<li><a href="http://isfit.github.com/blog/2012/what-is-global-trade/">What is global trade?</a></li>
</ul>

<h2>Festival blog</h2>
<ul>
	<li><a href="http://isfit2013eng.blogspot.no/2012/10/read-read-read.html">Read, read, read!</a></li>
</ul>


<% end %>