<% if Language.to_s == "no"%>

<h2>Temablogg</h2>
<ul>
	<li><a href="http://isfit.github.com/blog/2012/sosial-forandring-er-ogsa-en-inntekt/">Sosial forandring er ogsa en inntekt!</a></li>
	<li><a href="http://isfit.github.com/blog/2012/fairtrade-verdt-pengene/">Fairtrade – Verdt pengene?</a></li>
	<li><a href="http://isfit.github.com/blog/2012/den-europeiske-drommen/">Den europeiske drømmen</a></li>
</ul>

<h2>Festivalblogg</h2>
<ul>
	<li><a href="http://isfit2013.blogspot.no/2012/10/filmvitenskap.html">Filmvitenskap</a></li>
	<li><a href="http://isfit2013.blogspot.no/2012/10/les-til-krampa-tar-deg.html">Les til krampa tar deg</a></li>
</ul>
<% else %>
<h2>Theme blog</h2>
<ul>
	<li><a href="http://isfit.github.com/blog/2012/social-development-is-also-currency/">Social development is also currency!</a></li>
	<li><a href="http://isfit.github.com/blog/2012/fairtrade-worth-what-you-pay/">Fairtrade – Worth what you pay?</a></li>
	<li><a href="http://isfit.github.com/blog/2012/the-european-dream/">The European dream</a></li>
</ul>

<h2>Festival blog</h2>
<ul>
	<li><a href="http://isfit2013eng.blogspot.no/2012/10/a-day-at-movies.html">A Day at the Movies</a></li>
	<li><a href="http://isfit2013eng.blogspot.no/2012/10/read-read-read.html">Read, read, read!</a></li>
</ul>


<% end %>