<% if Language.to_s == "no"%>

<h2>Temablogg</h2>
<ul>
	<li><a href="http://isfit.github.com/blog/2012/hvor-mange-slaver-jobber-for-deg/">Hvor mange slaver jobber for deg?</a></li>
	<li><a href="http://isfit.github.com/blog/2012/sosial-forandring-er-ogsa-en-inntekt/">Sosial forandring er ogsa en inntekt!</a></li>
	<li><a href="http://isfit.github.com/blog/2012/fairtrade-verdt-pengene/">Fairtrade – Verdt pengene?</a></li>
</ul>

<h2>Festivalblogg</h2>
<ul>
	<li><a href="http://isfit2013.blogspot.no/">Besøk vår Festivalblogg!</a></li>
</ul>
<% else %>
<h2>Theme blog</h2>
<ul>
	<li><a href="http://isfit.github.com/blog/2012/how-many-slaves-are-working-for-you/">How many slaves are working for you?</a></li>
	<li><a href="http://isfit.github.com/blog/2012/social-development-is-also-currency/">Social development is also currency!</a></li>
	<li><a href="http://isfit.github.com/blog/2012/fairtrade-worth-what-you-pay/">Fairtrade – Worth what you pay?</a></li>
</ul>

<h2>Festival blog</h2>
<ul>
	<li><a href="http://isfit2013eng.blogspot.no/">Visit the Festival Blog!</a></li>
</ul>


<% end %>