<% if @article.blog %>
  <%= content_for :sidebar do %>
    <%if Language.to_s == "no"%>
      <div id="content" class="well">
        <h2>Om Marius</h2>
        <hr id="blog_info_bar">
        <p>
          Marius Jones (25) studerer samfunnsøkonomi på NTNU, og er President for ISFiT 2015. Jeg skal frem mot festival i februar 2015 blogge om ISFiT, korrupsjon, nyhetsbilde generelt, og andre ting jeg er nysgjerrig på. Jeg vil veldig gjerne høre dine tanker, og nås lettest på twitter!
        </p>
        <p>
          <a href="https://twitter.com/MariusJones89" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @MariusJones89</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </p>
      </div>
    <% else %>
      <div id="content" class="well">
        <h2>About Marius</h2>
        <hr id="blog_info_bar">
        <p>Marius Jones (25) studies Economics at NTNU, and is the President of ISFiT 2015. I will towards the festival in February 2015 blog about ISFiT, corruption, general news, and other things I am curious about. I would love to hear your thoughts, and the easiest place to reach out to me is Twitter!</p>
        <p>
          <a href="https://twitter.com/MariusJones89" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @MariusJones89</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </p>
      </div>
    <%end%>
    <a class="twitter-timeline" height="400" href="https://twitter.com/MariusJones89" data-widget-id="493710902634356737">Tweets fra @MariusJones89</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <% end %>
<%end%>
