<div id="news-carousel" class="carousel">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <% @articles.each do |article| %>
      <div class="item <%= article == @articles.first ? "active":"" %>">
        <img src="http://lorempixel.com/770/400/abstract/" alt="<%= article.title %>">
        <div class="carousel-caption">
          <h4><%= article.title %></h1>
          <p><%= article.sub_title %></p>
        </div>
      </div>
    <% end %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#news-carousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#news-carousel" data-slide="next">&rsaquo;</a>
</div>
