<div class="well">
<h1>Takk for at du søkte som vert!</h1>
<p>Du vil straks motta en e-post som bekrefter at vi har registrert riktig e-post. Om du ikke skulle motta denne e-posten innen 10 minutter ber vi deg ta kontakt med Anne Norvik Finstad påannenf@isfit.org eller Karoline Angen på karoange@isfit.org</p>
</div>