
body {
  background: #00394A  url(../images/b.png) repeat-x !important;
	color: #333;
	font-size: 11px;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #666;
}

.container_24 {
	
}

#omeny {
	background: #000 url(../images/omeny.png) repeat-x;
	height: 27px;
	padding: 8px 0 0 0 ;
	clear: both;
	
}

#olink {
	height: 27px;
}

#odiverse {
	height: 27px;
}

/*COUNTER STYLE */
.counter{
	width: 100px;
	margin: auto;
  position: relative;
  top: -8px;
}
.counter ul.countdown{
	text-align: center;
	list-style-type: none;
	color: #faa61f;
	font-weight: bold;

}

.counter ul.countdown li{
	height:10px;
	margin: 0 6px 5px 0px;
	padding-top: 0;
	float: left;
}
.counter ul.countdown li div{
	font-size: 9px;
}
.counter ul.countdown li div.countdown_num{
	font-size: 13px;
}
.counter ul.countdown li.no_countdown{
	background:transparent;
	height:3px;
	width:10px;
}
/*COUNTER STYLE END*/

.olink {
	color: #faa61f;
	font-size: 12px;
	margin: 0 15px 0 0;
	padding-top: 2px;
	float: left;
}


.obilde {
	float: left;
	margin: 0 3px 0 0;
}

.oflagg {
	float: right;
	margin: 0 3px 0 0;
	padding-top: 4px;
}

#header {
	/*background: #fff url(../images/header-eng.png);
*/
	height: 150px;
	clear: both;
}

.isfitlogo {
	/*margin: 71px 0 0 28px;
*/

}

#meny {
	background: #fff url(../images/meny.png) repeat-x;
	height: 34px;
	clear: both;
}

#faner {
	height: 34px;
}
#faner a.selected {
        text-decoration: none;
}
#selected {
  text-decoration: underline;
}


#faner a{
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin: 9px 0 0 0;
}

.menyspacer {
	float: left;
	margin: 0 9px 0 9px;
}

#sok {
	height: 34px;
}

#sok input[type="text"], #sok textarea {
    font-size: 12px;
	color: #964300;
    margin:0;
	padding:0;
	background: #fff;
    display: block;
    border: solid 1px #ec9600;
	border-right: 0;
	margin:8px 0 0 0;
    width: 112px;
	height: 16px;
	float: right;
}

#sok input.btn {
	font-size: 12px;
	color: #fffcfb; 
	text-align: center;
	background: url(../images/sok.png); 
	margin:8px 0 0 0;
	width: 17px;
	height: 18px;
	float: right;
	border:0;
} 

#submeny {
	height: 37px;
	background: #fff url(../images/submeny.png) repeat-x;
	clear: both;
}

.a_sublink {
	color: #000;
	font-size: 12px;
	font-weight:bold;
	float: left;
	margin: 10px 10px 0 10px;
}

.ina_sublink {
	color: #ffac0c;
	font-size: 12px;
	font-weight: bold;
	float: left;
	margin: 10px 10px 0 10px;
}

#ramme {
	background: #eee;
	padding-bottom: 20px;
}

#venstreramme {
	padding-top: 15px;
}

#boksturkis_bg {
/*	background: url(../images/chronicle-top.png) no-repeat;*/
	margin-bottom: 10px;
  position:relative;
}

#boksturkis {
/*	background: url(../images/boksturkis.png) no-repeat;*/
/*  background: url(../images/chronicle-middle.png) repeat-y;*/
  background-color:white;
	height: auto;
}

#artists {
  background:#fff;
}

#midtramme {
	padding-top: 15px;
}

#midtramme a {
  color: #028390;
}
#overskrift {
	background: #fff;
	height: 33px;
	padding-top:10px;
	font: #000;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}


#warning {
  margin-bottom: 5%;
  border: 2px solid #028390;
  padding: 10px;
}

#error_explanation {
  margin-bottom: 5%;
  border: 2px solid #028390;
  padding: 10px;
}

#notice {
  margin-bottom: 5%;
  border: 2px solid #028390;
  padding: 10px;
}
div.field_without_errors input {
  border: 1px solid green;
}

div.field_without_errors select {
  border: 1px solid green;
}

div.field_without_errors textarea {
  border: 1px solid green;
}


div.field_with_errors input {
  border: 1px solid red;
}

div.field_with_errors select {
  border: 1px solid red;
}

div.field_with_errors textarea {
  border: 1px solid red;
}
#hoved_artikkel h3.overskrift {
  padding: 0 10px 10px 10px;
  color: black;
}
#hoved_artikkel {
	background: #fff;
	padding: 10px 0 10px 0;
	margin-bottom: 10px;
}

#hoved_artikkel h1 {
	margin: 0px 10px 0 10px;
	color: #000;
	font-size: 25px;
	font-weight: bold;
}

#hoved_artikkel img {
	margin: 10px 10px 5px 10px;
	height: 196px;
	width: 530px;
}

#hoved_artikkel p {
	margin: 0px 10px 0 10px;
	color: #000;
	font-size: 15px;
}

.artikkel {
	background: #fff;
	padding: 10px 0 10px 0;
	margin-bottom: 10px;
}

.artikkel h1 {
	margin: 0px 10px 0 10px;
	color: #000;
	font-size: 16px;
	font-weight: bold;
}

.artikkel img {
	margin: 10px 10px 5px 10px;
	height: 120px;
	width: 250px;
}

.artikkel p {
	margin: 0px 10px 0 10px;
	color: #000;
	font-size: 12px;
}

.event_category {
	background: #fff;
	margin: 5px;
	padding: 5px;
	text-align: center;
}
.event {
	background: #fff;
	margin: 5px;
	padding: 5px;
}
.event_day_name {
	color: #00394A;
	font-weight: bold;
} 
.event_day {
	font-size: 40px;
}
.event_month {
	color: #00394A;
	font-weight: bold;
} 
.event_date {
	text-align: center;
	width: 80px;
	height: auto;
	float: left;
	margin: 5px 20px 5px 5px;
}
.event_content {
	width: 450px;
}
.event_category_button {
	margin: 0px 15px 0px 15px;
	}
	
.event_information {
	width: 190px;
	background: #EDEFF4;
	border: 1px #00394A solid;
	float: left;
  padding: 10px 0px 10px 10px;
}
	
#event_infobox {
	background: #fff;
	padding: 10px;
	float: left;
	width: 530px;
  padding-bottom:20px;
}

#hoyreramme {
	padding-top: 15px;
}

#boksbla_bg {
	/*background: url(../images/boksblabg.png) repeat-y;*/
	margin-bottom: 10px;
}

#boksbla {
/*	background: url(../images/boksbla.png) no-repeat;*/
	height: 218px;
}

#boksrod_bg {
/*	background: url(../images/boksrodbg.png) repeat-y;*/
	margin-bottom: 10px;
}

#boksrod {
	background: #fff; /* url(../images/boksrod.png) no-repeat;*/
	height: 400px;
}

#boksoransje_bg {
	background: #fff;  /* url(../images/boksoransjebg.png) repeat-y;*/
	margin-bottom: 10px;
}

#boksoransje {
/*	background: url(../images/boksoransje.png) no-repeat;*/
	height: 400px;
}

#boksgronn_bg {
/*	background: url(../images/boksgronnbg.png) repeat-y;
*/
	margin-bottom: 10px;
}

#boksgronn {
/*	background: url(../images/boksgronn.png) no-repeat;
*/
/*	height: 218px;
*/
height:auto;
}

#facebook { 
	background: #fff;
}
.header-kommentar {
	text-align: center;
	font-size: 21px;
}

#footer {
	background: #001625 url(../images/footer.png) repeat-x;
}

.footerlogo {
	margin: 31px 20px 20px 40px;
}

.photo_full {
  width: 530px;
}

.articleheight {
	height: 250px;
}

.photo_left {
  float:left;
  width:253px;
  padding-right: 10px;
}

.photo_right {
  float:right;
  width:253px;
  padding-left: 10px;
}
.black_left {
  float:right;
  color:black;
}
