<h1>Skies</h1>
	<br>
	
	<h4>Total number of functionaries with skies:  <b><%= @functionaries_skies.size%></b></h4>
	
	
	<table border=1 cellspacing=0 cellpadding=1>
		<tr>
		  
			 <th align = center width=100 align=left>Shoe sizes</th>
			
			 <th  align = center width=100 align=left>Number</th>
			 
		</tr>
		
		  <% @shoesizes.sort {|a,b| a[0]<=>b[0]}.each do |size,count| %>
		  <tr>
		     <td align = center>
		        <%= size %>
		  </td>
		  <td align = center>
		     <%= count %>
		  </td>
		</tr>
		<%end%>
			 
  </table>
  
  
  
  
  