<div class="row">


    <div class="span4 partners well">
        <%= link_to image_tag('/assets/partners/kjeldsberg.png'), 'http://kjeldsberg.no' %>
    </div>

    <div class="span4 partners well">
        <%= link_to image_tag('/assets/partners/geelmuyden.png'), 'http://www.geelmuyden-kiese.no/' %>
    </div>

  <div class="span4 well partners">
    <h2 style="margin: 0;">Din logo her?</h2>
    <p style="margin: 0;"><a href="mailto:helle.fremo@isfit.org">Kontakt oss</a>.</p>
  </div>
</div>