<div class="row">


    <div class="span4 partners well">
        <%= link_to image_tag('/assets/partners/kjeldsberg.png'), 'http://kjeldsberg.no' %>
    </div>

    <div class="span4 partners well">
        <%= link_to image_tag('/assets/partners/geelmuyden.png'), 'http://www.geelmuyden-kiese.no/' %>
    </div>

  <div class="span4 well partners">
  <%= image_tag('http://i.imgur.com/iuYOqRi.png', style: "width: 75%") %>
  </div>
</div>
