<%
	require 'open-uri'
    require 'json'

	apiKey = 'e9d53f958f44f599b45f0605b38782b7' # Do I even need this?
	imgurUrl = 'http://api.imgur.com/2/album/'

	album = JSON.parse(open(imgurUrl+url +'.json').read)['album']
	images = album['images']
%>

<a class="permalink" href="<%= url %>">
<article class="widget-album-index">
	<section class="metadata">
		<p><%= album['title'] %></p>
		<p><%= album['description'] %></p>
		<p>Event: Awesomeday 2013</p>
	</section>

	<section class="image-wrapper">


	<% images.each do |image| %>
		<%=image_tag(image['links']['small_square'])%>
	<% end %>
	</section>


</article>
</a>