<div class="row promo-row">
  
  <div class="span12 varbox streambox">
    <h1>Now streaming</h1>
    <p><a href="#videobox" title="Watch">Watch</a></p>

    <div id="videobox">
      
      <div class="video-wrapper">

        <iframe width="750" height="470" src="http://www.youtube.com/embed/fBmRNxX_TqA" frameborder="0" allowfullscreen></iframe>

        <p><a href="#">Close</a></p>

      </div>

    </div>
  </div>

</div>