
<% unless @stream.nil? %>

<div class="row promo-row">

  <% if @stream.start_at <= (Time.now+1.hour) %>

  
  <div class="span12 varbox streambox">
    
    <a href="#videobox" title="Watch">
      <div class="clickwrapper">
        <h1>Now streaming <em><%= @stream.title %></em></h1>
        <p>Watch</p>
      </div>
    </a>

    <div id="videobox">
      <div class="video-wrapper">
        <%= raw @stream.embed_id %>
        <p><a href="#">Close</a></p>
      </div>
    </div>
  </div>

  <% else %>

  <div class="span12 varbox streambox">
    <div class="clickwrapper">
      <h1>Next stream: <em><%= @stream.title %></em></h1>
      <p>Stream starts in <span id="stream-counter-hours">??</span>:<span id="stream-counter-minutes">??</span>:<span id="stream-counter-seconds">??</span></p>
    </div>
  </div>

  <% end %>

</div>


<% content_for :script do %>
<script>

  // todo. if i'm feeling particulary masochistic

  $(function(){
    var seconds = <%= @stream.start_at.to_i - (Time.now+1.hour).to_i %>;
    
    var sCounter = $('#stream-counter-seconds');
    var mCounter = $('#stream-counter-minutes');
    var hCounter = $('#stream-counter-hours');

    window.setInterval(function(){
      seconds--;

      if(seconds == 0 ){
        window.location.reload();
      }

      var minutes = Math.floor(seconds/60);
      var hours = Math.floor(minutes/60);

      hCounter.text(hours);
      mCounter.text(leadingZero(minutes-(hours*60)));
      sCounter.text(leadingZero(seconds-(minutes*60)));
    }, 1000);

    function leadingZero(tall) {
      if(String(tall).length == 1) {
        return '0' + tall;
      }
      else {
        return tall;
      }
    }

  });

</script>

<% end %>
<% end %>