<div class="well">
  <h1>Mailing list 2015</h1>
  <p>
    Are you interested in becoming an international ambassador, or participating
    in ISFiT 2015? Subscribe to our mailing list, and you will receive updates
    on the deadlines before the next festival.
  </p>

  <p>
    <%= render 'form' %>
  </p>

  <p>
    You can unsubscribe at any time if you don't want more emails, and we will
    not share your email with anyone.
  </p>
</div>