<table style="width:100%;">
<%now = Time.now.strftime("%Y-%m-%d %H:%M:%S")%>
<%Event.where(:show_headline=>1).where("visible_at <= '"+now+"'").order("weight DESC").each do |e|%>
  <tr><td style="text-align:center;">
    <%if e.lineup_title.blank?%>
      <b ><%=link_to e.title, {:tab => :program, :controller => :events, :action=>:show, :id => e.id}, :style => "color:#{e.color}; font-size:#{e.size}px;"%></b>
    <%else%>
      <b ><%=link_to e.lineup_title, {:tab => :program, :controller => :events, :action=>:show, :id => e.id}, :style => "color:#{e.color}; font-size:#{e.size}px;"%></b>
    <%end%>
  </td></tr>
<%end%>
</table>
