<div class="well">


<h1>Hello world</h1>

<% @events.each do |event| %>

<a href="<%=event_path(event)%>">
  <article class="event">
    <header><%=event.title%></header>
  </article>
</a>

<% end %>

</div>