#custom_calendar {
	margin-top:20px;
	font-size: 12px;
	font-weight:normal;
}
#custom_calendar a, #custom_calendar a:visited {
	font-weight: bold;
	text-decoration: none;
	color: black;
}
#custom_calendar a:hover {
	background-color: #aaa;
}
#custom_calendar td {
	padding: 2px;
}
#custom_calendar .today {
	text-decoration: underline;
}
#custom_calendar .weekendDay {
  	color: black;
}
#custom_calendar .hidden {
	color: #aaa;
	text-align: left;
}

#custom_calendar .specialDay a {
	color: #b90d0c;
}