body 
{
	font-family: 'Trebuchet MS', Arial;
	font-size: 9pt;
}
input, textarea, select
{
	font-family: 'Trebuchet MS', Arial;
	font-size: 9pt;
}
.form
{
	width: 150px;
}
h1
{
	font-size: 14pt;
}
h2
{
	font-size: 12pt;
}
a
{
	color: #a00;
}
div#page div#header div#bar a
{
	background: #f5f5f5;
	color: #888;
	text-decoration: none;
}
.sub_description {
	font-size: 10px;	
}
div#page div#header div#bar a:hover
{
	color: #000;	
}
div#page div#header div#bar a.active
{
	background: #fff;
	color: #000;
	font-weight: bold;
	font-size: 10pt;
}
div#page 
{
	margin: 10px;
}
div#page div#header
{
	background: url(../images/header.png) top left no-repeat;
	border-bottom: 1px solid #ccc;
	height: 140px;
	position: relative;
}
div#page div#header div#bar
{
	bottom: 0;
	left: 220px;
	position: absolute;
}
div#page div#header div#bar a
{
	border: 1px solid #ccc;
	display: block;
	float: left;
	padding: 4px;
	margin-bottom: -1px;
	margin-right: 4px;
}
div#page div#header div#bar a:hover
{
	background: #fff;
}
div#page div#header div#bar a.active
{
	border-bottom: 1px solid white;
}
div#page div#leftbar
{
	margin-top: 10px;
	position: absolute;
	width: 200px;
}
div#page div#content
{
	padding-left: 220px;
}
div#page div#content div#warning
{
	margin-top: 20px;
	padding: 4px;
	border: 1px solid #b90d0c;
}
div#page div#content div.unit
{
	float: left;
	width: 200px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 4px;
	padding-left: 30px;
	background: 4px 4px no-repeat url(../images/ou.png);
}
div#page div#content div.functionaries
{
	float: left;
	margin-right: 4px;
}
div#page div#content div.functionaries p.letterline
{
	border-bottom: 1px solid #ccc;
	padding-bottom: 0px;
	padding-left: 6px;
	font-weight: bold;
}
div#page div#content div.functionary
{
	width: 200px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 4px;
	padding-left: 30px;
	background: 4px 4px no-repeat url(../images/uid.png);
}
div#page div#content div.functionary_noimage

{
	width: 240px;
	height: 150px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 4px;
	padding-left: 0px;
	margin-top: 0px;
	background: none;
}
div#page div#content div.functionary_noimage p.letterline_noimage

{
	width: 240px;
	height: 150px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 4px;
	margin-left: 120px;
	margin-top: 0px;
}
div#page div#content div.clear
{
	clear: both;
}
div#page div#content div.line
{
	margin-top: 4px;
	margin-bottom: 4px;
	border-top: 1px solid #ccc;
}
div#page div#content div.table
{
}
div#page div#content div.table div
{
	margin-left: 175px;
	margin-bottom: 4px;
}
div#page div#content div.margin div
{
	margin-bottom: 8px;
}
div#page div#content div.margin div.fieldWithErrors
{
	display: inline;
	margin-left: 0;
}
div#page div#content div.margin div.fieldWithErrors input.form
{
	border: 1px solid #b90d0c;
}
div#page div#content div.table div.column
{
	margin-left: 0;
	float: left;
}
.alternate
{
	background-color: #eee;
}
.red
{
	background-color: #ffe7e7;
}
.green
{
	background-color: #ecffe1;
}
.green:hover
{
	background: #d1ffb5;
	cursor: pointer;
}

.red:hover
{
	background: #ffc4c4;
	cursor: pointer;
}
/***** Contact log start *************/
#contact label
{
	position: absolute; 
	text-align:right; 
	width:130px;
	font-weight: bold;
    padding-top: 2px;
}
#contact input 
{
	width: 240px;
	margin-left: 140px;
	margin-bottom: 1px;
	/*height: 13px;	
	font-size: 8pt;*/
}
#contact .field 
{
	width: 268px;
	margin-left: 140px;
}
#contact select 
{
	width: 244px;
	margin-left: 140px;
}


#contactInfo label
{
	padding-left: 15px;
	position: absolute; 
	text-align:left; 
	width:130px;
	font-weight: bold;
}
#contactInfo input 
{
	width: 268px;
	margin-left: 140px;
}
#contactInfo .field 
{
	width: 200px;
	margin-left: 133px;
}

div#contactInfo h2
{
	margin-bottom: 3px;
}

div.comment span.author
{
	font-style: italic;
}

div.comment div.comment
{
	border: 1px solid silver;
	width: 470px;
}
/***** Contact log end   *************/
/***** Isfit Feed start   *************/
div.feed {
}
div.feed h3 {
margin-bottom: 0px;
margin-top: 2px;
}
div.feed p{
margin-top: 1px;
}
div.feed h3 a {
color:black;
text-decoration: none;
}
div.feed h3 a:hover {
text-decoration: underline;
}
/***** Isfit Feed end end *************/



/***** Artilce start   *************/
div.article {
	margin-bottom: 3px;
}
div.article h3 {
	margin-bottom: 0px;
	font-weight: bold;
}
div.article h3 a {
color:black;
text-decoration: none;
}
div.article h3 a:hover {
text-decoration: underline;
}
div.article span.meta {
	color: #aaa;
	font-weight: normal;
	font-size: 9pt;
	margin-top: 0px;
}
tr.article_tr a {
	color:black;
	text-decoration: none;
	
}
/***** Article log end   *************/

/***** FORUM STYLES *********/
#forums_list {
	width: 100%;
	min-width: 600px;
}
#forums_list td, #forums_list tr {
	padding: 5px 10px 5px 10px;
	margin: 0;
}
#forums_list th {
	font-size: 16px;
	text-align: left;
	background-color: #888;
}
#forums_list a, #forums_list a:visited {
	font-size: 14px;
}

.forum_list_odd {
	background-color: #FFF;
}
.forum_list_even {
	background-color: #DDD;
}

#forum_thread {
	margin: 0px;
}
#forum_thread hr {
	height: 1px;
	background-color: #888;
	margin: 10px 5px 10px 2px;
	border: none;
}
#forum_post {
	width: 700px;
	border: 1px #888 solid;
	margin: 0px 0px 0px 0px;
}

#forum_body {
	vertical-align: top;
	width: 600px;
}
#forum_user {
	vertical-align: top;
	width: 100px;
}
#matching_fieldset {
	
}
#matching_fieldset legend {
	font-size: 14px;
	font-weight: bold;
}
#matching_error {
	color: #FF0000;
}
/***** END FORUM STYLES *********/

/***** Begin album styles ******/
#no_padding {
margin: 0px;
padding: 0px;
}

/**** END ALBUM STYLES */

#internal_main {
	min-width: 800px;
	width:expression(document.getElementById('internal_main').clientWidth <= 800 ? '800px' : 'auto');
}
