<div class="well">
  <h1>Thank you for your contribution</h1>
  <% if  Language.to_s == 'no' %>
    <!-- Norsk versjon -->
    <p>
      Takk for at du bidro med en donasjon til reisestøtte for deltakerne til ISFiT 2013. Du
      vil i løpet av kort tid motta et takkebrev på e-postadressen du har oppgitt. Summen
      du donerte vil gå uavkortet til å finansiere reisekostnadene for de deltakerne som
      trenger det mest. Med din hjelp er vi er ett skritt nærmere tidenes mest mangfoldige
      og inkluderende ISFiT. Vi oppfordrer deg til å fortelle andre om denne muligheten til å
      støtte arbeidet vi gjør og håper at vi sammen kan møte målet vårt.
    </p>
  <% else %>
    <!-- English version -->
    <p>
      Thank you for contributing to ISFiT 2013 by donating to our Travel Support Fund. You
      will soon receive a letter of appreciation to the e-mail address you have provided. The full
      amount of your donation will go to supporting the travel costs of those participants who
      need it the most. With your help we are one step closer to the most diverse and welcoming
      festival ISFiT has ever seen. We encourage you to tell others about this opportunity to
      support the work we are doing. It is our hope that we can achieve our goals together.
    </p>
  <% end %>
</div>
