<div class="well">
  <h1>Thank you for your contribution</h1>
  <% if  Language.to_s == 'no' %>
    <!-- Norsk versjon -->
    <p>
    Takk for at du bidro til ISFiT 2011 med en donasjon til reisestøtte for deltakerne. Du vil i løpet av kort tid motta et takkebrev på e-postadressen du fylte inn. Summen du donerte vil gå uavkortet til å finansiere reisekostnadene for de deltakerne som trenger det mest. Med din hjelp er vi er ett skritt nærmere tidenes mest mangfoldige og inkluderende ISFiT. Vi oppfordrer deg til å fortelle andre om denne muligheten til å støtte arbeidet vi gjør og håper at vi sammen kan møte målet vårt.
    </p>
    <p>
    Thank you for contributing to ISFiT 2011 by donating to our travel support fund. You will soon be receiving a letter of appreciation at the e-mail address you provided. The full amount of your donation will go towards support the travel costs of those participants who need it the most. With your help we are one step close to the most diverse and inclusive ISFiT ever. We encourage you to tell others about this opportunity to support the work we are doing. It is our hope that we can achieve our goals together.
    </p>

  <% else %>

    <!-- English version -->
    <p>
    One of the goals of ISFiT 2011 is to have the most diverse and inclusive representation of
    participants ever in the history of the festival. We aim at bringing 400 participants from over 100
    different countries and nationalities to Trondheim. This is possible to achieve with your help! The
    participants who have been invited to ISFiT 2011 are among the most committed and yet least
    privileged students in the world. Many of them are entirely dependent on the ISFiT 2011 travel
    support fund. This is where you can contribute. ISFiT 2011 is accepting donations that will go
    unabridged towards financing travel support for those participants who need it the most.
    </p>
    <p>
    You can make a direct donations to our travel support fund through this website. This is done by
    filling out the amount of your choice into the safe payment system below. By submitting your e-
    mail address you will receive a letter of appreciation from ISFiT 2011 and be able to keep updated
    on what is happening during the festival. We will say it here as well: Thank you for your support, it
    will mean the world for a whole lot of people.
    </p>
  <% end %>
</div>
