<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<th>Firstname</th>
		<th>Lastname</th>
		<th>Email</th>
	</tr>
	<% for host in @hosts%>
		<tr>
			<td><%=host.first_name%></td>
			<td><%=host.last_name%></td>
			<td><%=host.email%></td>
		</tr>
	<% end %>
</table>
<h2>All emails separated by commas</h2>
<% for host in @hosts%>
<%=host.email%>,
<% end %>