<div class="well">
  <% if Language.to_s.eql?('en') %>
    <h1>Apply as an ambassador</h1>
    <p>Do you dream about a world with less corruption?</p>
    <p>
    Do you wish to share your ISFit stories to inspire others?<br>
    You now have the oppertunity to be a part of out blog, movies, or other projects.
    </p>
    <p>
    Your face and stories can go worldwide to inspire people in the name of ISFiT</p>
    <p>Fill out the application form below, and join the network of international ambassadors for ISFiT 2015.</p>
    <p>Thank you in advance for supporting ISFiT.</p>
    <strong>The ambassador application is now closed. Go to
      <%= link_to "Participant Web", "https://participant.isfit.org" %>
      if you want to be a participant at ISFiT 2015.
    </strong>
  <% else %>
    <h1>Registrer deg som ambassadør</h1>
    <p>
      Har du en drøm om en verden med mindre korrupsjon?
      <br>
      Har du lyst til å dele dine historier om ISFiT for å inspirere andre?
      <br>
      Ditt ansikt og historier kan nå verden rundt for å inspirere mennesker sammen med ISFiT.
    </p>
    <p>Fyll ut skjemaet nedenfor, og bli med i nettverket av internasjonale ambassadører for ISFiT 2015.</p>
    <p>På forhånd takk for din støtte til ISFiT.</p>

    <strong>Ambassadørsøknaden er nå stengt. Gå til
      <%= link_to "Deltakerweb", "https://participant.isfit.org" %>
      hvis du ønsker å være en deltaker under ISFiT 2015.
    </strong>
  <% end %>

  <%#= render 'form' %>
</div>
