<h1>Thank you!</h1>
<p>Thank you for supporting ISFiT! You will get a package during May, with information and posters. We hope you will distribute the information in places where students will have the best opportunity to learn about ISFiT.</p>
