<div class='well'>
  <% if Language.to_s.eql('en') %>
	<h1>Thank you!</h1>
	<p>Thank you for supporting ISFiT! You will be contacted with more information at a later date. Follow us here on isfit.org and on Facebook to stay connected.
	</p>
  <% else %>
  <h1>Takk!</h1>
  <p>Takk for at du støtter ISFiT. Vi vil kontakt deg senere, og følg med oss her på isfit.org og på Facebook.
  </p>
  <% end %>
</div>