<h1>Takk for din søknad!</h1>

<p>Dette er en bekreftelse på at din søknad er registrert.</p>

<p>Hvis du ønsker å gjøre endringer på søknaden kan du logge inn på <%= link_to "isfit.org", root_url %>, ved å gå her til <%= link_to "innlogging", signin_url %></p>
