<h1>Takk for din søknad!</h1>

<p>Din søknad er nå registrert.</p>

<p>Hvis du ønsker å gjøre endringer på søknaden kan du logge inn på <%= link_to "isfit.org", root_url %>, ved å gå her til <%= link_to "innlogging", signin_url %></p>

<b>Bruk epost:</b>
<p><%= @email %></p>
<b>Passord:</b>
<p><%= @password %></p>