<p>
Thank you for contributing to ISFiT 2013 by donating to our Travel Support Fund. Your
donation will go to financing the travel costs for those participants who need it the most.
Our Travel Support Fund is one of the most important tools we have for creating a diverse
and including festival. ISFiT 2013 will include 450 participants from over 100 different
nations, and your contribution will help us achieve this goal. Whether a person is able to
participate in ISFiT 2013, should not be determined by their economical situation. Your
contribution enables us to bring the great thinkers and leaders of tomorrow to Trondheim.
From the 7th to 17th of February, participants from all over the world will discuss critical
issues pertaining to the theme of Global Trade. They will be able to exchange experiences,
cultural perspectives, build a network and find solutions that transcend national borders.
</p>

<p>
We encourage you to spread the word about this opportunity to support our work to your
friends, family and colleagues.
</p>

<p>
Thank you for your contribution!
</p>

<p>
Yours sincerely,
<br><br>
Kari Eline Strandjord<br>
Head of Participation, ISFiT 2013<br>
</p>

