<p>
Tusen takk for at du støtter ISFiT 2013 med en donasjon til vårt program for reisestøtte.
Summen du har donert vil gå uavkortet til å finansiere reisen for de deltakerne
som trenger det mest. Å kunne dele ut reisestøtte til deltakere som ellers ikke ville
kunne vært med, er blant de viktigste verktøyene vi har for å sikre en mangfoldig og
inkluderende festival. ISFiT 2013 skal bestå av 450 deltakere fra over 100 forskjellige
land, og ditt bidrag hjelper oss med å nå dette målet. Vi ønsker ikke at deltakernes
økonomisk situasjon skal være avgjørende for om vedkommende skal kunne delta
på ISFiT 2013. Ditt bidrag gjør det mulig for oss å bringe morgendagens ledere til
Trondheim. I tidsrommet 7. til 17. februar 2013 vil deltakerne diskutere kritiske
problemstillinger rundt temaet handel. De vil kunne utveksle erfaringer, kulturelle
perspektiver, bygge nettverk og finne løsninger på tvers av landegrenser.
</p>

<p>
Vi oppmuntrer deg til å spre informasjon om denne støtteordningen til venner, familie
og kolleger.
</p>

<p>
Tusen takk for ditt bidrag!
</p>

<p>
Med vennlig hilsen,
<br><br>
Kari Eline Strandjord<br>
Deltakersjef, ISFiT 2013<br>
</p>
