<p>Hello</p>
<p>
Thank you for signing up as a host at ISFiT 2011. Here comes an email with some information. If you have any questions beyond this, feel free to contact us at verter@isfit.org or come to an information meeting at Gløshaugen <b><u>Tuesday February 8th at 6pm</u></b>. Please note that time and place has been changed from previous emails.
</p>
<p>
<b>When do the participants arrive and depart?</b>
They arrive during Friday 11th of February and depart on Sunday 20th.
</p>
<p>
<b>What does being a host involve?</b>
Being a host involve giving the participant a bed, and breakfast throughout the festival. The host will also provide dinner at arrival day (11.02) ISFiT will provide all other meals.
</p>
<p>
<b>What do the participants do at the festival?</b>
Almost every day from 9:00 am to 3:00 pm they participate in workshops where they shed light on different aspects related to this year’s theme, Global Health. In the evening there is a lot of cultural entertainment. In general the participants are pretty busy during the festival.  
</p>
<p>
<b>Arrival day</b>
Participants arrive on February 11th. Studentersamfundet will be open all day, and you can come and pick up the participant whenever it is convenient for you. The participants have no program on the 11th, and this is thus a good chance for participant and host to get to know each other. The host is responsible for dinner this day.
</p>
<p>
<b>Ski Day</b>
Monday 14 February is ski-day in Granåsen. It would be really helpful if the participants can borrow skis from the host. ISFiT has a certain number of skis available, but not enough for all participants.
</p>
<p>
<b>More Information</b>
If you have any more information, feel free to contact us at verter@isfit.org. Also, there will be an information meeting at Gløshaugen Tuesday February 8th at 6pm.
</p>
<p>
Thank you!<br /><br />
On behalf of ISFiT 2011<br />
Alf Gunnar Heggeseth<br />
Official of the Secretariat<br />
+ 47 48 14 27 43<br />
alfgunna@isfit.org<br />
www.isfit.org<br />
Globalize this: Health<br />
</p>
