<p>Hei</p>
<p>
Vi takker for din interesse om å stille som vert for ISFiT 2011. Vi setter stor pris på dette, og at Trondheims befolkning og studenter åpner hjemmene sine og lar de internasjonale studentene bo hjemme hos seg er en viktig forutsetning for å gjøre ISFiT en suksess.
</p>
<p>
Vi vil komme tilbake med mer informasjon når festivalen nærmer seg. Hvis du har noen spørsmål, vil det bli avholdt et informasjonsmøte 2. februar klokken 18.00. For kontakt er det bare å sende epost til verter@isfit.org.
</p>
<p>
Tusen Takk
</p>
<p>
på vegne av ISFiT 2011<br />
Alf Gunnar Heggeseth<br />
Sekretariatsfunksjonær<br />
+ 47 48 14 27 43<br />
alfgunna@isfit.org<br />
www.isfit.org<br />
Globalize this: Health<br />
</p>
