<p>Hei<p>
<p>
Tusen takk for at du har registrert deg som vert for ISFiT 2011. Her kommer litt informasjon. Hvis du har noen spørsmål ut over dette kan du kontakte oss på verter@isfit.org, eller komme på informasjonsmøtet på Gløshaugen, <b><u>tirsdag 8 februar klokken 18.00</u></b>. Merk dag og tidspunkt, som har blitt endret fra en tidligere epost!
</p>
<p>
<b>Når kommer og drar deltakerne?</b><br />
Deltakerne ankommer I løpet av dagen den 11.februar, og drar ved festivalslutt den 20.februar.
</p>   
<p>
<b>Hva skal en vert gjøre?</b><br />
Vertene stiller en seng til disposisjon for deltakerne gjennom festivalen, og stiller også med frokost hver dag samt middag på velkomstdagen (11.02). Alle andre måltider står ISFiT for.
</p>
<p>
<b>Hva gjør deltakerne under festivalen?</b><br />
Stort sett hver dag fra 09.00-15.00 deltar deltakerne i workshops, hvor man belyser ulike aspekter ved årets tema som er global helse. På kveldene er det mye kulturprogram. Det vil si at deltakerne stort sett er opptatt hele dagen.
</p>
<p>   
<b>Velkomstdagen</b><br />
Deltakerne ankommer den 11.februar. Samfundet vil være åpent hele dagen, og man kan komme og hente deltakerne når det passer. Det er ikke noe videre program den 11, og det er dermed en fin mulighet for vert og deltaker å bli bedre kjent da verten også står for middag denne dagen.
</p>      
<p>
<b>Skidag</b><br />
Mandag 14.februar har vi skidag i Granåsen. Her er det kjempeflott hvis deltakerne kan låne ski av vertene sine. ISFiT har et visst antall ski til rådighet, men ikke nok til alle deltakere.
</p>
<p>
<b>Mer informasjon</b><br />
Hvis du ønsker mer informasjon kan vi nås på verter@isfit.org. Det vil også avholdes et informasjonsmøte på Gløshaugen tirsdag 8 februar klokken 18.00
</p>     
<p>
Tusen takk<br /><br /> 
på vegne av ISFiT 2011<br />
Alf Gunnar Heggeseth<br />
Sekretariatsfunksjnær<br />
+ 47 48 14 27 43<br />
alfgunna@isfit.org<br />
www.isfit.org<br />
Globalize this: Health
</p>
