<p>
	Hei!
</p>

<p>
	Tusen takk for at du/dere har registrert deg som vert for ISFiT 2013! Her kommer litt informasjon. Hvis du/dere har noen spørsmål ut over dette ber vi deg/dere ta kontakt med oss på verter@isfit.org, eller ved å svare direkte på denne e-posten.
</p>

<p>
<b>Når kommer og drar deltakerne?</b><br>
Deltakerne ankommer i løpet av dagen den 7. februar og drar ved festivalslutt den 17. februar.
</p>

<p>
<b>Hva skal en vert gjøre?</b><br>
Vertene stiller en seng til disposisjon for deltakeren gjennom festivalen og frokost hver dag, samt middag på velkomstdagen (7. februar). ISFiT står for alle andre måltider.
</p>

<p>
<b>Hva gjør deltakerne under festivalen?</b><br>
Deltakerne deltar i workshops stort sett hver dag fra 09:00-15:00. Der belyses ulike aspekter ved årets tema, global handel. På kveldene er det kulturprogram, så deltakerne er vanligvis opptatt størsteparten av dagen. Nytt av året er at deltakerne har en fridag; denne vil være 13. februar.
</p>

<p>
<b>Velkomstdagen</b><br>
De fleste deltakerne ankommer den 7. februar. De vil samles i Rundhallen rett innenfor inngangen på Samfundet, hvor du kan hente deltakeren når det passer best for deg. Matching av vert og deltaker vil av praktiske hensyn bli gjort på Samfundet denne dagen, derfor er det vanskelig for oss å si noe på forhånd om hvilken deltaker som vil bo hos deg/dere. Mer informasjon om denne dagen kommer på mail.
</p>

<p>
<b>Oppstartstid Workshops</b><br>
Under festivalen deltar deltakerne på workshops. Oppstarten for disse er 8. februar, og de vil starte klokken 09:00 hver dag, med unntak av de to søndagene da de starter klokken 10:00. I tillegg starter deltakerne klokken 10:00 på skidagen (11. februar) og prosjektdagen (15.februar).
</p>

<p>
<b>Skidag</b><br>
Mandag 11.februar er det skidag i Granåsen. På denne dagen er det kjempeflott hvis deltakerne kan låne ski av vertene sine. ISFiT har noen ski til rådighet, men ikke nok til alle. Hvis du/dere også har mulighet til å låne ut skiklær setter vi stor pris på det. For sikkerhets skyld er det lurt å merke utstyr og klær med navn og telefonnummer.
</p>

<p>
<b>Mer informasjon</b><br>
Hvis du/dere ønsker mer informasjon kan vi nås på verter@isfit.org.</p>
<p>
Det vil i tillegg bli arrangert et infomøte for verter på Selskapssiden,
Studentersamfundet tirsdag 29.01 fra 18:00 til 20:00.
Her blir det informasjon om det å være vert og selvfølgelig mulighet til å
få svar på alle spørsmål dere måtte ha rundt verteopplegget.
</p>
 
<p>
Tusen takk!<br>
På vegne av ISFiT 2013,<br>
<br>
Synne Tveiten<br>
Sekreteriatsfunksjonær<br>
+47 906 94 094<br>
www.isfit.org | www.studentpeaceprize.org<br>
Trade Your Ideas                                                  
</p>
