<p>Hello</p>
<p>
Thank you for signing up as a host at ISFiT 2011. Here comes an email with some information. If you have any questions beyond this, feel free to contact us at verter@isfit.org
</p>
<p>
<b>Information Meeting</b>
When: Tuesday 8th of February at 18:00.<br />
Where: Gløshaugen, auditorium S2. Just walk toward the two tall buildings, and there will be signs pointing the right direction.<br />
It is not mandatory for hosts to come to this meeting, and all information will be posted online. You can also reach us at verter@isfit.org. 
</p>
<p>
<b>Frequently Asked Questions</b>
There has been added a FAQ on the ISFiT home page. Please read this, as it contains a lot of information. http://www.isfit.org/info/pages/51
</p>
<p>
<b>When do the participants arrive and depart?</b>
They arrive during Friday 11th of February and depart on Sunday 20th.
</p>
<p>
<b>What does being a host involve?</b>
Being a host involve giving the participant a bed, and breakfast throughout the festival. The host will also provide dinner at arrival day (11.02) ISFiT will provide all other meals.
</p>
<p>
<b>What do the participants do at the festival?</b>
Almost every day from 9:00 am to 3:00 pm they participate in workshops where they shed light on different aspects related to this year’s theme, Global Health. In the evening there is a lot of cultural entertainment. In general the participants are pretty busy during the festival.  
</p>
<p>
<b>Arrival day</b>
Most of the participants arrive Friday 11th of February. They will come to Studentersamfundet, and you can come and meet the participant whenever it suits you. We will be at Samfundet all day. This takes place right inside the main entrance at Samfundet. Because of some practical considerations, most of the matching of hosts and participants will be made at Samfundet on arrival day. Thus we cannot at the moment say the name of the participant you will receive.
</p>
<p>
<b>Workshops</b>
During the festival the participants are attendig workshops. These start at 09:00 each day, with the exception of Sundays and the ski day (14th of February) and project day (18th of February). At those days they start at 10:00.
</p>
<p>
<b>Ski Day</b>
Monday 14 February is ski-day in Granåsen. It would be really helpful if the participants can borrow skis from the host. ISFiT has a certain number of skis available, but not enough for all participants.
</p>
<p>
<b>More Information</b>
If you have any more information, feel free to contact us at verter@isfit.org. Also, there will be an information meeting at Gløshaugen Tuesday February 8th at 6pm.
</p>
<p>
Thank you!<br /><br />
On behalf of ISFiT 2011<br />
Alf Gunnar Heggeseth<br />
Official of the Secretariat<br />
+ 47 48 14 27 43<br />
alfgunna@isfit.org<br />
www.isfit.org<br />
Globalize this: Health<br />
</p>
