<p>Hello</p>
<p>
Thank you for expressing intrest in becoming a host for ISFiT 2011. We appreciate it and it is an important prerequisit for making ISFiT a success.
</p>
<p>
We will get back to you with more information as the festival approaches. If you have any questions, there will be an information meeting the 2nd of february at 6pm. You can contact us at verter@isfit.org
</p>
<p>
Thank
</p>
<p>
On behalf of ISFiT 2011<br />
Alf Gunnar Heggeseth<br />
Official of the Secretariat<br />
+ 47 48 14 27 43<br />
alfgunna@isfit.org<br />
www.isfit.org<br />
Globalize this: Health <br />
</p>
