<p>Hei<p>
<p>
Tusen takk for at du har registrert deg som vert for ISFiT 2011. Her kommer litt informasjon. Hvis du har noen spørsmål ut over dette kan du kontakte oss på verter@isfit.org 
</p>
<p>
<b>Informasjonsmøte</b><br />
Når: Tirsdag 8. februar klokken 18:00<br/>
Hvor: Gløshaugen, auditorium S2. Dette ligger i samme bygg som de to høyblokkene. Gå inn der, så vil skilt vise veien til auditoriumet.</br>
Det er på ingen måte obligatorisk for verter å komme på dette møtet. Det er mer en sjanse til å stille spørsmål hvis man lurer på noe. All informasjon fra møtet vil også bli postet online. Vi kan også nås på verter@isfit.org
</p>
<p>
<b>Ofte stilte spørsmål</b>
Det har nå blitt lagt ut en seksjon på hjemmesiden med Ofte Stilte Spørsmål. Her ligger det en del informasjon som kan være nyttig å se gjennom http://www.isfit.org/info/pages/51
</p>
<p>
<b>Når kommer og drar deltakerne?</b><br />
Deltakerne ankommer I løpet av dagen den 11.februar, og drar ved festivalslutt den 20.februar.
</p>   
<p>
<b>Hva skal en vert gjøre?</b><br />
Vertene stiller en seng til disposisjon for deltakerne gjennom festivalen, og stiller også med frokost hver dag samt middag på velkomstdagen (11.02). Alle andre måltider står ISFiT for.
</p>
<p>
<b>Hva gjør deltakerne under festivalen?</b><br />
Stort sett hver dag fra 09.00-15.00 deltar deltakerne i workshops, hvor man belyser ulike aspekter ved årets tema som er global helse. På kveldene er det mye kulturprogram. Det vil si at deltakerne stort sett er opptatt hele dagen.
</p>
<p>   
<b>Velkomstdagen</b><br />
De fleste deltakerne ankommer den 11.februar. De vil samles på Samfundet, og det er mulighet for å komme og plukke opp deltakerne når det passer best for deg. Dette foregår i Rundhallen, som er rett innenfor hovedinngangen. Matching av vert og deltaker vil på grunn av en del praktiske hensyn stort sett bli gjort på Samfundet på den dagen, og derfor er det vanskelig for oss å si noe på forhånd om hvilken deltaker som vil bo hos dere.
</p>
<p>
<b>Oppstartstid Workshops</b><br />
Under festivalen deltar deltakerne på workshops. Disse starter klokken 09:00 hver dag, med unntak av de to søndagene da de starter klokken 10. I tillegg starter deltakerne klokken 10 på skidagen, og prosjektdagen. Dette er henholdsvis mandag 14.02 og fredag 18.02.
</p>
<p>
<b>Skidag</b><br />
Mandag 14.februar har vi skidag i Granåsen. Her er det kjempeflott hvis deltakerne kan låne ski av vertene sine. ISFiT har et visst antall ski til rådighet, men ikke nok til alle deltakere.
</p>
<p>
<b>Mer informasjon</b><br />
Hvis du ønsker mer informasjon kan vi nås på verter@isfit.org. Det vil også avholdes et informasjonsmøte på Gløshaugen tirsdag 8 februar klokken 18.00
</p>     
<p>
Tusen takk<br /><br /> 
på vegne av ISFiT 2011<br />
Alf Gunnar Heggeseth<br />
Sekretariatsfunksjnær<br />
+ 47 48 14 27 43<br />
alfgunna@isfit.org<br />
www.isfit.org<br />
Globalize this: Health
</p>
