<p>
  <b>Quiz:</b>
  <%=h @quiz_question.quiz %>
</p>

<p>
  <b>Body:</b>
  <%=h @quiz_question.body %>
</p>


<%= link_to 'Edit', edit_quiz_question_path(@quiz_question) %> |
<%= link_to 'Back', quiz_questions_path %>