
<h1>Create new subject</h1>
<% form_tag(:controller => "forum", :action => "create_thread") do %>
	<table border="0" cellspacing="5" cellpadding="5">
  	
	<% fields_for :forum_thread do |ft| -%>
		<tr>
			<td>Title:</td>
			<td><%= ft.text_field :title, :style => 'width: 500px;'%></td>
		</tr>
	<% end -%>
		
	<% fields_for :forum_post do |fp| -%>
		<tr valign="top">
			<td>Text:</td>
			<td><%= fp.text_area :body, :style => 'width: 500px; height: 200px;' %></td>
		</tr>
	<% end -%>
	</table>
	
	<%= submit_tag "Create"%>
<% end -%>