<div id="article-wrapper" class="well">
  <%= render 'shared/gallery_index', :url => '27nLQ' %>
  <%= render 'shared/gallery_index', :url => 'V308o' %>
  <%= render 'shared/gallery_index', :url => 'LwmMy' %>
  <%= render 'shared/gallery_index', :url => 'ZyLVS' %>
</div>