<div class="well">
	<h1>ISFiT Workshops 2015:</h1>
	<% @workshops.each do |workshop| %>
		<div class="outer" rank="<%=workshop.rank%>">
			<div class="inntertext">
				<p><%= link_to workshop.name , "http://2013.isfit.org", :class => "workshopclass" %></p>
			</div>
		</div>
	<% end %>

</div>