<% content_for :script do %>
        <%= javascript_include_tag "workshops_public.js" %>
<% end %>

<div class="well">
	<h1>ISFiT Workshops 2015</h1><p><a href="http://www.isfit.org/pages/53">Read more about the idea behind the workshops</a></p>
	<% @workshops.each do |workshop| %>
		<div class="outer" rank="<%=workshop.rank%>">
			<div class="inntertext">
				<p><%= link_to workshop.name , workshop_path(workshop.id), :class => "workshopclass" %></p>
			</div>
		</div>
	<% end %>

	<script type="text/javascript">
	    $('body aside').remove();
    	$('#content').attr('class', 'span12');
    </script>

</div>