/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_tree . 
 *= require_self
*/

html {
  // Enable webkits anti-alized font-smoothing on Mac.
  -webkit-font-smoothing: antialiased;
}

html, body, div, aside, footer, header, span, h1, h2, h3, h4, h5, h6 {
  box-sizing: border-box;
}

a {
  color: rgb(216,52,21);
  -webkit-transition: background .2s, color .2s;
  -o-transition: background .2s, color .2s;
  -moz-transition: background .2s, color .2s;
  -ms-transition: background .2s, color .2s;
  transition: background .2s, color .2s;
}
a:not(.brand):hover {
  background: rgb(216,52,21);
  color: white;
  text-decoration: none;
}

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

.carousel-control {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.carousel a {
  color: white;
}

#sidebar div.promotional {
  margin-bottom: 20px;
}

.article-ingress p {
  font-style: italic;
  font-size: 1.4em;
  line-height: 1.4em;
}

article header h1 {
  font-size: 2.1em;
  line-height: 1.2em;
}


.article-credits span {
  display: block;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}

.article-text p {
  font-size: 1.15em;
  line-height: 1.6em;
  text-align: justify;
}

article header img {
  max-width: 100%;
  max-height: 25em;
  position: absolute;
  top: 0;
  left: 0;
}

#article-header {
  height: 42em;
  padding: 0; margin: 0;
  background: url('http://lorempixel.com/800/600/people') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:relative;
  margin-bottom: 2em;
  min-width: 100%;
  position: absolute !important;
  top: 40px;
  left: 0;
  z-index: -1;
}

.navbar-inner {
  background: white;
  border-top: 3px solid rgb(65,192,240);
}

a.brand,li.inactive a {
  color: #000 !important;
  text-shadow:none !important;
}

.nav .active > a, .navbar .nav .active > a:hover {
  background-color: rgb(34,54,102) !important;
}

li.inactive a:hover {
  color: white !important;
}
li.inactive:nth-child(odd) a:hover {
   background: rgb(251, 188, 58) !important;
}

li.inactive:nth-child(even) a:hover {
  background: rgb(4,129,185) !important;
}

div.header-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  background: rgba(0,0,0,.4);
  text-shadow: 0 1px 0 #333;
  box-sizing: border-box;
  padding: 1em;

  h1 {
    font-size: 2.5em;
    line-height: 1.2em;
  }
}

/* temporary hack (hopefully) */
@media (min-width: 979px) {
  body {
    padding-top: 44px;
  }
}

.navbar-fixed-top {
  margin-bottom: 0;
}

#sidebar img {
  width: 100%;
}

.brand {
  font-family: "apertura", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.85em !important;
}
#article-wrapper {
  margin-top: 43em;
}
