.article-ingress p {
  font-style: italic;
  font-size: 1.2em;
  line-height: 1.4em;
}

article header h1 {
  font-size: 1.7em;
  line-height: 1.2em;
}


.article-credits span {
  display: block;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}

.article-text p {
  line-height: 1.4em;
  text-align: justify;
}

article header img {
  max-width: 100%;
  max-height: 25em;
  position: absolute;
  top: 0;
  left: 0;
}

#article-header {
  height: 30em;
  padding: 0; margin: 0;
  background: url('http://lorempixel.com/800/600/people') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:relative;
  left: 0;
  margin-bottom: 2em;
  max-width: 100%;
}


.article-credits {
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  padding: 3px 10px;
  margin-bottom: 1em;
  height: 1.8em;
  position:absolute;
  bottom: -1.8em;
  background: white;
  z-index: 99;
  width:100%;
  box-sizing: border-box;
}


