// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#ideas-wrapper {
	opacity: 0;
	-o-transition: opacity .3s;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;
}

article.idea {
	background: #aaa;
	height: 150px;
	margin-top: 2em;
	border-radius: 12px;

	img {
		width: 40px;
		cursor: pointer;
	}

	div.fb-like {
		float: right;
		text-align: right;
	}
}