#tabs {

	li.dropdown {
		margin-top: 13px;
	}

	span.tab {
		float: none;
		padding: 10px 10px 11px;
		text-decoration: none;
		color: black;
		text-shadow: none;
		//padding-top: 8px;
		//padding-bottom: 8px;
		margin-top: 2px;
		margin-bottom: 2px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		padding-right: 12px;
		padding-left: 12px;
		margin-right: 2px;
		line-height: 14px;

		cursor: default;

		&:hover {
			background: #0481B9;
			color: white;
		}
	}

	ul.nav > li:last-child{
		margin-left: 1em;
		padding-left: 1em;
		border-left: 1px solid #666;
	}
	.facebook-user-name {
		height: 1em; overflow: hidden;
	}
}
#fb-connect-topbar {
	text-align:right;
	margin-top: 2px;
	max-width:23em;
	text-overflow: ellipsis;
	overflow: hidden;
}

.navbar .dropdown-menu {
	margin-top: 7px;
}

#navbar-icons {
	margin-top: -7px;
	display: inline-block;
}

#search-button {
	margin-left:1em;
}

