#widget-twitter {

  // After tweets are loaded, the height is set to auto through JavaScript. If Javascript is
  // disabled, or some error occurs, nothing is displayed.
  height: 0;
  overflow: hidden;

  .widget-twitter-tweet {
  	margin-bottom: 1em;

    header {
      height: 2em;
      position: fixed;
    }

  	img {
  		height: 48px !important;
      width: 48px !important;
  	  float: left;
  	  margin-right: .5em;
  	  margin-bottom: .2em;
  	}

  	cite {
  	  display: block;
  	  width: 100%;
  	  text-align: right;
  	  font-size: .8em;	
  	}
  }
}
