article.widget-album-index {
	height: 150px;
	width: 100%;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	padding-left: 116px;
	padding-top: 1em;
	border: 1px solid #666;
	background: #333;

	.image-wrapper {
		width: 9000px;
		display: inline-block;
		position: relative;
	}

	.metadata {
		height: 100%;
		width: 100px;
		background: white;
		display: inline-block;
		position: absolute;
		top: 0; left: 0;
		box-shadow: 0 0 5px #111;
	}



	img {
		margin-right: -2em;
		padding: 2px;
		border: 1px solid #666;
		background: white;
		position: relative;
		transition: all .3s;

		&:hover {
			z-index: 99;
			-webkit-transform: scale(1.05);
			transform: scale(1.05);
		}
	}
}

