<tr><h1>Car details</h1></tr>
	
		<tr>
			<th width=110 align=left>Name:
			<td width=400 align=left valign=top><%=@car.name%>
		<tr>
			<th width=110 align=left>Max passengers:
			<td width=400 align=left><%=@car.max_passengers%>
		<tr>
			<th width=110 align=left>Description:
			<td width=400 align=left valign=top><%=@car.description%>
		<tr>
			<th width=110 align=left valign=top>Picture:
			<td width=400 align=left valign=top><%=image_tag "car_images/#{@car.name}.jpg", :alt=> "#{@car.short_description}"%>
		</tr>
	